<html>

<head>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-router/3.1.3/vue-router.js"></script>

    <link href="/static/css/tieba.css" rel="stylesheet">
    <link href="/static/css/loading.css" rel="stylesheet">
</head>

<body>
    <div id="app" class="app">
        <div class="header">
            <div class="container  card_top_wrap">
                <div class="col-md-3">
                    <h3>
                        <span class="baiduicon"><a href="/"><img src="/static/img/back.svg" height="24"
                                    type="image/svg+xml" /></a></span class="baiduicon">
                        <span>
                            {{q.kw+'吧'}}
                        </span>
                        <span class="baiduicon"><a v-bind:href="'https://tieba.baidu.com/f?kw=' + q.kw"><img
                                    src="/static/img/baidu.svg" height="24" type="image/svg+xml" /></a></span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="maincontainer">
            <div v-if="Object.keys(threads).length === 0 && threads.constructor === Object" id="loading"
                class="container">
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div id="thread_list" class="container threadlist_bright j_threadlist_bright">
                <div class="row j_thread_list clearfix" v-for="item in threads">
                    <div class="col-md-1 col2_left j_threadlist_li_left">
                        <div><span class="threadlist_rep_num center_text" title="回复">{{item.reply}}</span></div>
                        <!-- <div class="baiduicon"><embed src="/static/img/baidu.svg" width="100%" type="image/svg+xml" /></div> -->
                    </div>
                    <div class="col-md-8 threadlist_lz clearfix">
                        <div class="threadlist_title pull_left j_th_tit ">
                            <i v-if="item.top" class="icon-top" alt="置顶" title="置顶">[顶]</i>
                            <i v-if="item.good" class="icon-good" alt="精品" title="精品">[精]</i>
                            <a rel="noreferrer" v-bind:href="'/p?kz=' + item.kz + '&kw=' + q.kw"
                                v-bind:title="item.title" target="_blank" class="j_th_tit ">{{item.title}}</a>
                        </div>
                        <div class="threadlist_text pull_left">
                            <div class="threadlist_abs threadlist_abs_onlyline ">
                                {{item.first.content.content.substring(4,50)}}...</div>
                        </div>
                        <div class="threadlist_author pull_right">
                            <span class="tb_icon_author " v-bind:title="'主题作者： ' + item.author_nickname">
                                <i class="icon_author">作者：</i>
                                <span class="frs-author-name-wrap">
                                    <a rel="noreferrer"
                                        v-bind:href="'https://tieba.baidu.com/home/main/?id='+item.author_portrait "
                                        target="_blank">{{item.author_nickname}}</a>
                                </span>
                            </span>
                            <span class="pull-right is_show_create_time" title="创建时间">{{item.first.create_date}}</span>
                        </div>
                    </div>
                    <div class="col-md-3 threadlist_detail clearfix">

                        <div class="threadlist_author pull_right">
                            <span>最后回复: </span>
                            <span class="tb_icon_author_rely j_replyer" v-bind:title="'最后回复人: ' + item.last.un">
                                <a rel="noreferrer" class="frs-author-name j_user_card "
                                    v-bind:href="'https://tieba.baidu.com/home/main/?un=' + item.last.un"
                                    target="_blank">{{item.last.un}}</a></span>
                            <span class="threadlist_reply_date pull_right j_reply_data"
                                title="最后回复时间">{{item.last.create_date}}</span>
                            <div class="baiduicon"><a v-bind:href="'https://tieba.baidu.com/p/' + item.kz"><img
                                        src="/static/img/baidu.svg" height="100%" type="image/svg+xml" /></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container" class="thread_list_bottom clearfix">
                <div id="frs_list_pager" class="pagination-default clearfix">
                    <ul class="pagination">
                        <li class="page-item"><a v-bind:href="pageList.firstPage"
                                class="first pagination-item page-link">首页</a>
                        </li>
                        <li class="page-item"><a v-bind:href="pageList.lastPage"
                                class="pre pagination-item page-link">上一页</a>
                        </li>
                        <li class="page-item" v-for="page in pageList.sidePages"><a v-bind:href="page.url"
                                class="pagination-item page-link">{{page.page}}</a></li>
                        <li class="page-item"><a v-bind:href="pageList.nextPage"
                                class="next pagination-item page-link">下一页</a>
                        </li>
                        <!-- <a href="//tieba.baidu.com/f?kw=%E6%9F%AF%E5%93%80&amp;ie=utf-8&amp;pn=53950"class="last pagination-item ">尾页</a> -->
                    </ul>
                    <!-- <input v-model="message" placeholder="页数" class="form-control" id="page_number" type="number"> -->
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/f.js"></script>
</body>

</html>